/*Google font 'poppins' */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*Configuraciones generales*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 85%;
    height: 95%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu, .musica{
    position: relative;
    width: 25%;
    height: 90%;
    /*border: 1px solid white;*/
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: white;
}

header .musica{
    width: 75%;
    background: #0b1320;
}

header .reproductor {
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

/*Menu*/
header .menu h1 {
    font-size: 25px;
    margin: 15px 0px 0px 25px;
    font-weight: 700;
}

header .menu .playlist {
    margin: 15px 0px 0px 25px;
}

header .menu .playlist h4 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menu .playlist h4:hover{
    color: white;
}

header .menu .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

/*'Icono'*/
header .menu .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menu .playlist h4:hover span::before{
    border: 2px solid #ffffff;
}

header .menu .playlist h4 .icono{
    display: none;
}

header .menu .playlist .activo {
    color: aqua;
}

header .menu .playlist .activo span{
    display: none;
}

header .menu .playlist .activo .icono{
    display: flex;
    margin-right: 25px;
}

